@import url('https://fonts.googleapis.com/css2?family=Imprima&display=swap');

*{
 padding: 0%;
 margin: 0%;
 box-sizing: border-box;
}

body{ 
 background-image:url(/pexels-laura-tancredi-7078619.jpg);
 
}

.everything{
 display: flex;
 align-content: space-between;
}

.Headers{
 font-family: 'Imprima', sans-serif;
 color: #00AAB5;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 margin: 15%;
 margin-top: 10%;
 padding: 30px;
}

.greeting{
width: 70%;
height: auto;
}

.words{
 margin-bottom: 15%;
 display: flex;
 align-self: center;
 justify-content: center;
 text-align: center;
 padding: 30px;
}


.formPicMobile{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
color: #00AAB5;
/* padding: 30px; */
}

.form{
 margin: 15%;
 font-size: 30px;
}

.clickMe{
 color: #574242;
 
 font-size: 23px;
 border-color: #00AAB5;
 border-radius: 8%;
}

.clickMe:hover{
 background-color: #00AAB5;
}
@media screen and (max-width: 740;){

.everything{
background-image: url(/pexels-pixabay-235985.jpg);
}

}

