


body{
 color: #574242 ;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 margin: 30%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background: rgb(238,174,202);
/* background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%); */
background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(163,112,23,1) 100%);
}

.formBox{
 width: 300px;
 display: flex;
 margin-bottom: 20px;
 height: 40px;
 color: #574242;
 font-size: 20px;
 border-radius: 8%;
}

.label{
font-size: 25px;
}

.button{ 
  color: #574242;
  font-size: 15px;
  border-color: #00aab5;
  border-radius: 8%;
  height: 35px;
 } 
 .button:hover {
  background-color: #00aab5;
 }
 
 .login{
display: flex;
flex-direction: column;
  }

  .words{
   text-align: center;
  }

  .logo{
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-bottom; 30px:
  }

  .signup{
   color: #574242;
  font-size: 15px;
  border-color: #00aab5;
  border-radius: 8%;
  height: 35px;
  }

  .signup:hover{
   background-color: #00aab5; 
  }

  .new{
    display: flex;
    justify-content: center;
    flex-direction: column;

  }
  .noaccount{
    font-size: 20px;
  }